[Unit]
Description=Php7.4_Cron Service
After=network.target
Wants=network.target

[Service]
User=root
Type=simple
Restart=always
ExecStart=docker exec php7.4 /usr/sbin/cron -f

[Install]
WantedBy=multi-user.target
